<div id="feed-post-1" class="card is-post">
    <!-- Main wrap -->
    <div class="content-wrap">
        <!-- Post header -->
        <div class="card-heading">
            <!-- User meta -->
            <div class="user-block">
                <div class="image">
                    <img src="/static/uploads/<%= post.user.profilImage %>" data-demo-src="assets/img/avatars/dan.jpg"
                        data-user-popover="1" alt="">
                </div>
                <div class="user-info">
                    <a href="/user/<%= post.user._id %>">
                        <%= post.user.username %>
                    </a>
                    <span class="time">
                        <%= post.getDate() %>
                    </span>
                </div>
            </div>
            <!-- Right side dropdown -->
            <!-- /partials/pages/feed/dropdowns/feed-post-dropdown.html -->
            <div class="dropdown is-spaced is-right is-neutral dropdown-trigger">
                <div>
                    <div class="button">
                        <i data-feather="more-vertical"></i>
                    </div>
                </div>
                <div class="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                        <a href="/user/<%= post.user._id %>" class="dropdown-item">
                            <div class="media">
                                <i data-feather="user"></i>
                                <div class="media-content">
                                    <h3>Profil</h3>
                                    <small>Profili Görüntelemek için tıkla.</small>
                                </div>
                            </div>
                        </a>
                       
                        <!-- <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                            <div class="media">
                                <i data-feather="flag"></i>
                                <div class="media-content">
                                    <h3>Flag</h3>
                                    <small>In case of inappropriate content.</small>
                                </div>
                            </div>
                        </a> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /Post header -->

        <!-- Post body -->
        <div class="card-body">
            <!-- Post body text -->
            <div class="post-text">
                <p>
                    <%- post.text %>
                </p>
            </div>
            <!-- Featured image -->

            <div class="post-image">
                <% if (post.img.data != null ) { %>
                        <img src="data:image/<%=post.img.contentType%>;base64,<%=post.img.data.toString('base64')%>" alt="Post_image">
                <% } else { %>
                        <div style="height: 30px;"></div>
                <% } %>

                            <!-- Action buttons -->
                            <!-- /partials/pages/feed/buttons/feed-post-actions.html -->
                            <div class="like-wrapper">
                                <input type="hidden" value="<%= post.user._id %>">
                                <input type="hidden" value="<%= post._id %>">
                                <a onclick="like_btn(this)" class="like-button">
                                    <% if (post.like.find(l=> l.user.username== user.username )) { %>
                                        <img width="40px" height="40px" src="/static/uploads/icons8-like-64.png">
                                    <% } else { %>
                                        <img width="35px" height="35px" src="/static/uploads/icons8-like-64-2.png">
                                    <% } %>
                                        <span class="like-overlay"></span>
                                </a>
                            </div>
                            <script>
                                function like_btn(e) {
                                    const postid = e.previousElementSibling.value;
                                    const userid = document.getElementById("userid").value;
                                    const countlike = document.getElementById(postid);
                                    if (e.children[0].attributes.src.nodeValue == "/static/uploads/icons8-like-64.png") {
                                        e.children[0].remove();
                                        e.insertAdjacentHTML("afterbegin", `<img width="40px" height="40px" src="/static/uploads/icons8-like-64-2.png">`)
                                        fetch(`https://basaksocialmediaapi.herokuapp.com/remove-like/${postid}/${userid}`)
                                            .then(data => { countlike.innerHTML = (Number(countlike.innerHTML) - 1) })
                                            .catch(err => console.log(err))
                                    } else {
                                        e.children[0].remove();
                                        e.insertAdjacentHTML("afterbegin", `<img width="40px" height="40px" src="/static/uploads/icons8-like-64.png">`)
                                        fetch(`https://basaksocialmediaapi.herokuapp.com/add-like/${postid}/${userid}`)
                                            .then(data => {
                                                add_nofication("like", userid, e.previousElementSibling.previousElementSibling.value)
                                                countlike.innerHTML = (Number(countlike.innerHTML) + 1)
                                            })
                                            .catch(err => console.log(err))

                                    }
                                }
                            </script>
                            <div class="fab-wrapper is-share">
                                <a href="javascript:void(0);" class="small-fab share-fab" data-modal="share-modal">
                                    <i data-feather="link-2"></i>
                                </a>
                            </div>

                            <div class="fab-wrapper is-comment">
                                <a href="javascript:void(0);" class="small-fab">
                                    <i data-feather="message-circle"></i>
                                </a>
                            </div>
            </div>
        </div>
        <!-- /Post body -->

        <!-- Post footer -->
        <div class="card-footer">
            <!-- Followers avatars -->
            <div class="likers-group">
                <% for( let i=0; i < post.like.length && i < 4; i++ ) { %>
                    <img src="/static/uploads/<%= post.like[i].user.profilImage %>"
                        data-demo-src="/static/dist/assets/img/avatars/dan.jpg" data-user-popover="1" alt="">
                    <% } %>

            </div>
            <!-- Followers text -->
            <!-- <div class="likers-text">
                <p>
                    <a href="#">Milly</a>,
                    <a href="#">David</a>
                </p>
                <p>and 23 more liked this</p>
            </div> -->
            <!-- Post statistics -->
            <div class="social-count">
                <div class="likes-count">
                    <i data-feather="heart"></i>

                    <span class="countlike" id="<%= post._id %>">
                        <%= post.like.length %>
                    </span>
                </div>
                <div class="shares-count">
                    <i data-feather="link-2"></i>
                    <span>not now</span>
                </div>
                <div class="comments-count">
                    <i data-feather="message-circle"></i>
                    <span id="commentlike">
                        <%= post.comments.length %>
                    </span>
                </div>
            </div>
        </div>
        <!-- /Post footer -->
    </div>
    <!-- /Main wrap -->

    <!-- Post #1 Comments -->
    <div class="comments-wrap is-hidden">
        <!-- Header -->
        <div class="comments-heading">
            <h4>Yorumlar
                <small>(<%= post.comments.length %>)</small>
            </h4>
            <div class="close-comments">
                <i data-feather="x"></i>
            </div>
        </div>
        <!-- /Header -->

        <!-- Comments body -->
        <div class="comments-body has-slimscroll" id="post-<%= post._id %>">

            <!-- Comment -->
            <% post.comments.forEach(comment=> { %>
                <div class="media is-comment">
                    <!-- User image -->
                    <div class="media-left">
                        <div class="image">
                            <img src="/static/uploads/<%= comment.user.profilImage %> "
                                data-demo-src="assets/img/avatars/dan.jpg" data-user-popover="1" alt="">
                        </div>
                    </div>
                    <!-- Content -->
                    <div class="media-content">
                        <a href="#">
                            <%= comment.user.username %>
                        </a>
                        <span class="time">
                            <%= comment.getDate() %>
                        </span>
                        <p>
                            <%= comment.text %>
                        </p>
                        <!-- Actions -->
                        <div class="controls">
                            <!-- <div class="like-count">
                                <i data-feather="thumbs-up"></i>
                                <span>4</span>
                            </div> -->
                            <!-- <div class="reply">
                                <input type="hidden" value="<%= comment._id %> ">
                                <a>Cevapla</a>
                            </div> -->
                            <!-- <div class="edit">
                                <a href="#">Edit</a>
                            </div> -->
                        </div>
                        <!-- Nested Comment -->
                        <% comment.altcomment.forEach(altcomment=> { %>
                            <div class="media is-comment">
                                <!-- User image -->
                                <div class="media-left">
                                    <div class="image">
                                        <img src="/static/uploads/<%= altcomment.user.profilImage %>"
                                            data-demo-src="assets/img/avatars/david.jpg" data-user-popover="4" alt="">
                                    </div>
                                </div>
                                <!-- Content -->
                                <div class="media-content">
                                    <a href="#">
                                        <%= altcomment.user.username %>
                                    </a>
                                    <span class="time">
                                        <%= altcomment.getDate() %>
                                    </span>
                                    <p>
                                        <%= altcomment.text %>
                                    </p>
                                    <!-- Actions -->
                                    <!-- <div class="controls">
                                        <div class="like-count">
                                            <i data-feather="thumbs-up"></i>
                                            <span>0</span>
                                        </div>
                                        <div class="reply">
                                            <a onclick="show_alt_comment(this)">Reply</a>
                                        </div>
                                    </div> -->
                                </div>
                                <!-- Right side dropdown -->
                                <div class="media-right">
                                    <!-- <div class="dropdown is-spaced is-right is-neutral dropdown-trigger">
                                        <div>
                                            <div class="button">
                                                <i data-feather="more-vertical"></i>
                                            </div>
                                        </div>
                                        <div class="dropdown-menu" role="menu">
                                            <div class="dropdown-content">
                                                <a class="dropdown-item">
                                                    <div class="media">
                                                        <i data-feather="x"></i>
                                                        <div class="media-content">
                                                            <h3>Hide</h3>
                                                            <small>Hide this comment.</small>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a href="#" class="dropdown-item">
                                                    <div class="media">
                                                        <i data-feather="flag"></i>
                                                        <div class="media-content">
                                                            <h3>Bildir</h3>
                                                            <small>Bu yorumu şikayet et.</small>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <% }) %>
                                <div class="card-footer">
                                    <div class="media post-comment has-emojis">
                                        <!-- Comment Textarea -->
                                        <div class="media-content">
                                            <div class="field">
                                                <p class="control">
                                                    <textarea class="textarea comment-textarea" rows="0"
                                                        placeholder="Alt yorum yaz ..."></textarea>
                                                </p>
                                            </div>
                                            <!-- Additional actions -->
                                            <div class="actions">
                                                <div class="image is-32x32">
                                                    <img class="is-rounded"
                                                        src="/static/uploads/<%= user.profilImage %>"
                                                        data-demo-src="assets/img/avatars/jenna.png"
                                                        data-user-popover="0" alt="">
                                                </div>
                                                <div class="toolbar">
                                                    <input type="hidden" value="<%= comment._id %>">
                                                    <input type="hidden" value="<%= post._id %>">
                                                    <a class="button is-solid primary-button"
                                                        onclick="add_alt_comment(this)" raised">Alt yorum ekle</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    </div>
                </div>
                <% }) %>


                    <!-- /Comment -->


        </div>
        <div class="card-footer">
            <div class="media post-comment has-emojis">
                <!-- Comment Textarea -->
                <div class="media-content">
                    <div class="field">
                        <p class="control">
                            <textarea class="textarea comment-textarea" rows="1"
                                placeholder="Yorum yaz ..."></textarea>
                        </p>
                    </div>
                    <!-- Additional actions -->
                    <div class="actions">
                        <div class="image is-32x32">
                            <img class="is-rounded" src="/static/uploads/<%= user.profilImage %>"
                                data-demo-src="assets/img/avatars/jenna.png" data-user-popover="0" alt="">
                        </div>
                        <div class="toolbar">
                            <!-- <div class="action is-auto">
                                <i data-feather="at-sign"></i>
                            </div>
                            <div class="action is-emoji">
                                <i data-feather="smile"></i>
                            </div>
                            <div class="action is-upload">
                                <i data-feather="camera"></i>
                                <input type="file">
                            </div> -->
                            <input type="hidden" value="<%= post.user._id %>">
                            <input type="hidden" value="<%= post._id %>">
                            <a class="button is-solid primary-button" onclick="add_comment(this)">Yorum Yap</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="userid" id="userid" value="<%= user._id %>">

        <!-- /Comments body -->

        <!-- Comments footer -->
        <!-- Comments footer -->
    </div>
    <!-- /Post #1 Comments -->
</div>

<script>
    function add_comment(e) {
        const userid = document.getElementById("userid").value;
        const touserid = e.previousElementSibling.previousElementSibling.value
        const postid = e.previousElementSibling.value;
        const text = e.parentNode.parentNode.parentNode.children[0].children[0].children[0].value;
        if(text == "")
            return;
        e.parentNode.parentNode.parentNode.children[0].children[0].children[0].value = ""
        fetch(`https://basaksocialmediaapi.herokuapp.com/add-comment/${postid}/${userid}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ text: text }),
        })
            .then(data => {
                document.getElementById(`post-${postid}`).insertAdjacentHTML("beforeend", `
                     <div class="media is-comment">
                         <!-- User image -->
                         <div class="media-left">
                             <div class="image">
                                 <img src="/static/uploads/<%= user.profilImage %>"
                                     data-demo-src="assets/img/avatars/dan.jpg" data-user-popover="1" alt="">
                             </div>
                         </div>
                         <!-- Content -->
                         <div class="media-content">
                             <a href="#">
                                 <%= user.username %>
                             </a>
                             <span class="time">Şimdi</span>
                             <p>
                                ${text}
                             </p>
                         </div>
                     </div>
        `)
            })
            .catch(err => console.log(err))

        add_nofication("comment", userid, touserid);

    }

    function add_alt_comment(e) {
        const userid = document.getElementById("userid").value;
        const postid = e.previousElementSibling.value;
        const commentid = e.previousElementSibling.previousElementSibling.value;
        const text = e.parentNode.parentNode.parentNode.children[0].children[0].children[0].value;
        if(text == "")
            return;
        e.parentNode.parentNode.parentNode.children[0].children[0].children[0].value = "";
        e.parentNode.parentNode.parentNode.parentNode.parentNode.insertAdjacentHTML("beforeBegin", `
        <div class="media is-comment">
            <!-- User image -->
            <div class="media-left">
                <div class="image">
                    <img src="/static/uploads/<%= user.profilImage %>"
                        data-demo-src="assets/img/avatars/david.jpg" data-user-popover="4" alt="">
                </div>
            </div>
            <!-- Content -->
            <div class="media-content">
                <a href="#">
                    <%= user.username %>
                </a>
                <span class="time">
                    Şimdi
                </span>
                <p>
                    ${text}
                </p>
            
            </div>
            <!-- Right side dropdown -->
            <div class="media-right"></div>
        </div>`);
        fetch(`https://basaksocialmediaapi.herokuapp.com/add-alt-comment/${postid}/${userid}/${commentid}`, {
            method: 'POST', // or 'PUT'
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ text: text }),
        })
            .then(data => data)
            .catch(err => console.log(err))
    }


    function add_nofication(work, bildirimiyapan, aitolan) {
        const userid = document.getElementById("userid").value;
        if(userid == bildirimiyapan)
            return;

        fetch(`https://basaksocialmediaapi.herokuapp.com/add-nofication/${aitolan}/${bildirimiyapan}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ type: work }),
        })
            .then(data => data.json())
            .then(veri => console.log(veri))
            .catch(err => console.log(err))
    }

</script>