<style>

    .friend-icon{
        width: 24px;
        height: 24px;
    }
    .friend-text{
        font-size: 17px;
    }

</style>
<div class="info-row"  style="display:<%=user.username==myuser.username?"none":""%>;" onclick="user_work2(this)">
    <div>
        <span id="user-btn2"  class="is-bold">


            <% if (durum != "-1") { %>
                <span class="friend-text" link="/remove-friend/<%= myuser._id %>/<%= user._id %>">Takibi Bırak</span>
                </span>
                </div>
                <img class="friend-icon" src="/static/icons/unfollow.png" >
            <% } else { %>
                <span class="friend-text" link="/add-friend/<%= myuser._id %>/<%= user._id %>">Takip Et</span>
                </span>
                </div>
                <img class="friend-icon" src="/static/icons/add-friend4.png" >                 
            <% } %>



            
        <!-- </span> -->
    <!-- </div> -->
    <!-- <img width="24px" height="24px" src="/static/icons/add-friend.png" > -->
    <!-- <img width="24px" height="24px" src="/static/icons/icons8-friend-64.png" > -->
    <!-- <img width="24px" height="24px" src="/static/icons/icons8-add-user-group-man-man-80.png" > -->
</div>

    <script>

        function user_work2(e){
            const value = e.children[0].children[0].children[0].attributes[1].nodeValue;
            switch(e.children[0].children[0].children[0].innerHTML){
                case "Takip Et":
                    replacebtn(`<span class="friend-text" link="/remove-frined/<%= myuser._id  %>/<%= user._id %>">Takibi Bırak</span>`)
                    replaceicon(e,`<img class="friend-icon" src="/static/icons/unfollow.png">`);
                    break;
                case "Takibi Bırak":
                    replacebtn(`<span class="friend-text" link="/add-friend/<%= myuser._id %>/<%= user._id %>">Takip Et</span>`)
                    replaceicon(e,`<img class="friend-icon" src="/static/icons/add-friend.png" >`);
                    break;
                }
            fetch(`https://basaksocialmediaapi.herokuapp.com${value}`)
            .then(data => {
                console.log("Başarılı arkadaşlık işlemi");
            })
            .catch(err => console.log(err))
        }
    
    
        function replacebtn(newbutton){
            const e = document.getElementById("user-btn2")
            e.children[0].remove();
            e.insertAdjacentHTML("beforeend",newbutton)
        }

        function replaceicon(e,newicon){
            e.children[1].remove();
            e.insertAdjacentHTML("beforeend",newicon)


        }
    
    
    
    </script>