<div class="columns is-multiline no-margin">
    <!-- Left side column -->
    <div class="column is-paddingless">
        <!-- Timeline Header -->
        <!-- html/partials/pages/profile/timeline/timeline-header.html -->
        <div class="cover-bg">
            <% if (user.coverImage.data == null) { %>
                <img class="cover-image" src="/static/uploads/coverimage.jpg" alt="">
            <% } else { %>
                <img class="cover-image" src="data:image/<%=user.coverImage.contentType%>;base64,<%=user.coverImage.data.toString('base64')%>" alt="">
            <% } %>
            <div class="avatar">
                <img id="user-avatar" class="avatar-image" src="/static/uploads/<%= user.profilImage %>" alt="">
                <% if (myuser.username == user.username) { %>
                    <div class="avatar-button">
                        <!-- <i data-feather="plus"></i> -->
                        <div class="modal-trigger" data-modal="change-profile-pic-modal" data-title="Change profile picture">
                            <a class="inner">
                                <i data-feather="camera"></i>
                            </a>
                        </div>
                    </div>

                    <!-- <div class="pop-button is-far-left has-tooltip modal-trigger" data-modal="change-profile-pic-modal" data-placement="right" data-title="Change profile picture">
                        <a class="inner">
                            <i data-feather="camera"></i>
                        </a>
                    </div>
                    <div id="follow-pop" class="pop-button pop-shift is-left has-tooltip" data-placement="top" data-title="Subscription">
                        <a class="inner">
                            <i class="inactive-icon" data-feather="bell"></i>
                            <i class="active-icon" data-feather="bell-off"></i>
                        </a>
                    </div>
                    <div id="invite-pop" class="pop-button pop-shift is-center has-tooltip" data-placement="top" data-title="Relationship">
                        <a href="#" class="inner">
                            <i class="inactive-icon" data-feather="plus"></i>
                            <i class="active-icon" data-feather="minus"></i>
                        </a>
                    </div>
                    <div id="chat-pop" class="pop-button is-right has-tooltip" data-placement="top" data-title="Chat">
                        <a class="inner">
                            <i data-feather="message-circle"></i>
                        </a>
                    </div>
                    <div class="pop-button is-far-right has-tooltip" data-placement="right" data-title="Send message">
                        <a href="messages-inbox.html" class="inner">
                            <i data-feather="mail"></i>
                        </a>
                    </div> -->
                <% } %>
            </div>
            <% if (myuser.username == user.username) { %>
                <div class="cover-overlay"></div>
                <div class="cover-edit modal-trigger" data-modal="change-cover-modal">
                    <i class="mdi mdi-camera"></i>
                    <span>Arka plan fotoğrafını değiştir</span>
                </div>
            <% } %>
            <!--/html/partials/pages/profile/timeline/dropdowns/timeline-mobile-dropdown.html-->
            <div class="dropdown is-spaced is-right is-accent dropdown-trigger timeline-mobile-dropdown is-hidden-desktop">
                <div>
                    <div class="button">
                        <i data-feather="more-vertical"></i>
                    </div>
                </div>
                <div class="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                        <a href="/" class="dropdown-item">
                            <div class="media">
                                <i data-feather="activity"></i>
                                <div class="media-content">
                                    <h3>AnaSayfa</h3>
                                    <small>Anasayfaya git.</small>
                                </div>
                            </div>
                        </a>
                        <a href="/user/<%= myuser._id %>" class="dropdown-item">
                            <div class="media">
                                <i data-feather="align-right"></i>
                                <div class="media-content">
                                    <h3>Benim Hakkımda</h3>
                                    <small>Kendi sayfanı görüntüle.</small>
                                </div>
                            </div>
                        </a>
                        <a href="/user/friends/<%= user._id %>" class="dropdown-item">
                            <div class="media">
                                <i data-feather="heart"></i>
                                <div class="media-content">
                                    <h3>Arkadaşlar</h3>
                                    <small>Bütün arkadaşlarını görüntüle.</small>
                                </div>
                            </div>
                        </a>
                        <a href="/user/photos/<%= user._id %>" class="dropdown-item">
                            <div class="media">
                                <i data-feather="image"></i>
                                <div class="media-content">
                                    <h3>Fotoğraflar</h3>
                                    <small>Bütün fotoğrafları görüntüle.</small>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="profile-menu is-hidden-mobile">
            <div class="menu-start">
                <a href="/" class="button has-min-width">AnaSayfa</a>

            </div>
            <div class="menu-end">
                <a id="profile-friends-link" href="/user/friends/<%= user._id %>"  class="button has-min-width">Arkadaşlar</a>
                <a href="/user/photos/<%= user._id %>" class="button has-min-width">Fotoğraflar</a>
            </div>
        </div>

        <div  class="profile-subheader">
            <div class="subheader-middle">
                <h2><%= user.firstName %> <%= user.lastName %></h2>
                <span><%= user.username %></span>
            </div>
        </div>
    </div>

</div>



